/*****hanu*****/
/* #hanu(e871d461930b46f7) #css starts */
.headere871d461930b46f7 .letter{
    color: #584E8D
}
.headere871d461930b46f7 .navbar-light .navbar-nav .nav-link:hover {
    color: #584E8D
}
.headere871d461930b46f7 .btnregister{
    background-color: #FFC72C;
    color: #fff;
    border-radius: 5px
}
/* #hanu(e871d461930b46f7) #css ends */
/*****hanu*****/

/*****agni*****/
/* #agni(cded716dce36a6e8) #css starts  */
.aboutcded716dce36a6e8 {
    padding: 2.5rem 0
}
.aboutcded716dce36a6e8 .DescriptionHeading {
    color: #584E8D;
    font-size: 50px
}
.aboutcded716dce36a6e8 .DescriptionPara {
    color: #808080;
    font-size: 18px
}
.aboutcded716dce36a6e8 .badge{
    color: #EA5252;
    background-color: #F5F0F7
}
.aboutcded716dce36a6e8 .searchBtn{
    background-color: #EA5252;
    border-radius: 5px
}
/* #agni(cded716dce36a6e8) #css ends  */
/*****agni*****/

/*****campbell*****/
/* #campbell(campbelldy9djhgjfg) #css starts */
.campbelldy9djhgjfg h1{
    font-size: 32px;
    color: #584E8D
}
/* #campbell(campbelldy9djhgjfg) #css ends */
/*****campbell*****/

/*****suki*****/
/* #suki(sliders1fae57451461b568) #css starts */
.sliders1fae57451461b568{
    padding: 2.5rem 0
}
.sliders1fae57451461b568 .text-success{
    color: #584E8D!important
}
.sliders1fae57451461b568 .btnStyle {
    background-color: #584E8D
}
/* #suki(sliders1fae57451461b568) #css ends */
/*****suki*****/

/*****atami*****/
 /* #atami(d390a380620aac0e) #css starts  */
 .aboutd390a380620aac0e {
    padding: 2.5rem 0
}
.aboutd390a380620aac0e .video_card::before {
    background-color: #EA5252
}

.aboutd390a380620aac0e .fa{
    color: #584E8D
}
/* #atami(d390a380620aac0e) #css ends  */
/*****atami*****/

/*****tamia*****/
    /* #tamia(testimonialtmgmxjq0hb8) #css starts  */
    .testimonialtmgmxjq0hb8 .fdb-block {
        padding: 2.5rem 0
      }
    /* #tamia(testimonialtmgmxjq0hb8) #css ends  */
/*****tamia*****/

/*****pencil*****/
    /* #pencil(productsp48b0eae471185cc5) #css starts  */
    .productsp48b0eae471185cc5{
        padding: 2.5rem 0
    }
    .productsp48b0eae471185cc5 .title {
        color: #584E8D;
        font-weight: 600
    }
    /* #pencil(productsp48b0eae471185cc5) #css ends  */
/*****pencil*****/