/*****hanu*****/
/* #hanu(e871d461930b46f7) #css starts */
.headere871d461930b46f7 .letter{
    color: #584E8D
}
.headere871d461930b46f7 .navbar-light .navbar-nav .nav-link:hover {
    color: #584E8D
}
.headere871d461930b46f7 .btnregister{
    background-color: #FFC72C;
    color: #fff;
    border-radius: 5px
}
/* #hanu(e871d461930b46f7) #css ends */
/*****hanu*****/

/*****agni*****/
/* #agni(cded716dce36a6e8) #css starts  */
.aboutcded716dce36a6e8 .DescriptionHeading {
    color: #584E8D;
    font-size: 50px
}
.aboutcded716dce36a6e8 .DescriptionPara {
    color: #808080;
    font-size: 18px
}
.aboutcded716dce36a6e8 .badge{
    color: #EA5252;
    background-color: #F5F0F7
}
.aboutcded716dce36a6e8 .searchBtn{
    background-color: #EA5252;
    border-radius: 5px
}
/* #agni(cded716dce36a6e8) #css ends  */
/*****agni*****/

/*****campbell*****/
/* #campbell(campbelldy9djhgjfg) #css starts */
.campbelldy9djhgjfg h1{
    font-size: 32px;
    color: #584E8D
}
/* #campbell(campbelldy9djhgjfg) #css ends */
/*****campbell*****/